<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>已处理工单</title>
<link href="css/basic.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/basic.js"></script>
</head>
<style>
	.taskDiv{ border-bottom:1px dotted #ccc;}
	.taskUl li{padding:10px 0 10px 0;}
</style>

<body>
	<div class="wrap">
    	
    	
        	<div class="mainDetail">
            <div><span class="spandetail">标题：</span>今日头条</div>
            <div><span class="spandetail">详情：</span>星期一</div>
            <div><span class="spandetail">紧急程度：</span>未解答</div>
            <div><span class="spandetail">问题分类：</span>大问题</div>
            <div><span class="spandetail">时间：</span>2015-09-14</div>
            <div>
            	<ul class="taskUl">
                	<li>
                    	<div class="taskDiv">
                            <div class="taskto">
                                <div>
                                售后工程师：您的问题我们已收到，会尽快为您查看，请您耐心等待，谢谢！！！
                                </div>
                                <div>2015-09-08 07:28:16</div>                
                            </div>
            			</div>                    
                    </li>
                    <li>
                    	<div class="taskDiv">
                            <div class="taskto">
                                <div>
                                售后工程师：您好
                                <p>1.查看您的ECS的IP为115.28.84.38</p>
                                <p>2.查看您的ECS的IP为115.28.84.38</p>
                                <p>3.查看您的ECS的IP为115.28.84.38</p>
                                <p>4.查看您的ECS的IP为115.28.84.38</p>
                                </div>
                                <div>2015-09-08 07:28:16</div>                
                            </div>
            			</div>                    
                    </li>
                    <li>
                    	<div class="taskDiv">
                            <div class="taskto">
                                <div>
                                售后工程师：您的问题我们已收到，会尽快为您查看，请您耐心等待，谢谢！！！
                                </div>
                                <div>2015-09-08 07:28:16</div>                
                            </div>
            			</div>                    
                    </li>
                    <li>
                    	<div class="taskDiv">
                            <div class="taskto">
                                <div>
                                售后工程师：您的问题我们已收到，会尽快为您查看，请您耐心等待，谢谢！！！
                                </div>
                                <div>2015-09-08 07:28:16</div>                
                            </div>
            			</div>                    
                    </li>
                    <li>
                    	<div class="taskDiv">
                            <div class="taskto">
                                <div>
                                售后工程师：您的问题我们已收到，会尽快为您查看，请您耐心等待，谢谢！！！
                                </div>
                                <div>2015-09-08 07:28:16</div>                
                            </div>
            			</div>                    
                    </li>
                </ul>
            	
            </div>
          	
          
            
            </div>
            
       
        
        </div>
    
    	
        
    </div>

</body>
</html>
