<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>知识库管理</title>
<link href="css/basic.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/basic.js"></script>
</head>

<body>
	<div class="wrap">
    	<div class="searchdiv">
        	<div class="left">
        		<div class="marr30 left">状态：<select class="selestatiu"><option>通过</option><option>未通过</option></select></div>
                <div class="left">
                	<input  type="text"  class="txtsearch"  placeholder="请输入查询条件"/><input type="button" value="搜索" class="btnorder" />
           		</div>
            </div>            
        	<div class="right">
            	<input type="button" value="添加" class="btnorder" />
            </div>
        </div>
        <div class="clear"></div>
    	   <div class="mart10">
        	<table width="100%" border="0"  cellspacing="0" cellpadding="0" class="bheTable">
                	<tr>
                    	<th width="35px" ><input  type="checkbox"/></th>
                        <th>问题</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                    	<td width="35px"><input  type="checkbox"/></td>
                        <td>大问题</td>
                        <td>未解决</td>              
                        <td><a href="knowDetail.html">详情</a></td>
                    </tr>
                    <tr>
                    	<td width="35px"><input  type="checkbox"/></td>
                        <td>大问题</td>
                        <td>未解决</td>              
                        <td><a href="knowDetail.html">详情</a></td>
                    </tr>
                    <tr>
                    	<td width="35px"><input  type="checkbox"/></td>
                        <td>大问题</td>
                        <td>未解决</td>              
                        <td><a href="knowDetail.html">详情</a></td>
                    </tr>
                    <tr>
                    	<td width="35px"><input  type="checkbox"/></td>
                        <td>大问题</td>
                        <td>未解决</td>              
                        <td><a href="knowDetail.html">详情</a></td>
                    </tr>
                    <tr>
                    	<td width="35px"><input  type="checkbox"/></td>
                        <td>大问题</td>
                        <td>未解决</td>              
                        <td><a href="knowDetail.html">详情</a></td>
                    </tr>
                    <tr>
                    	<td width="35px"><input  type="checkbox"/></td>
                        <td>大问题</td>
                        <td>未解决</td>              
                        <td><a href="knowDetail.html">详情</a></td>
                    </tr>
                            
                
          </table>
          <div class="right mart10">
          		<a href="#">上一页<a>&nbsp;&nbsp;<a href="#">下一页<a>
          </div>
       
    
    </div>
</body>
</html>
