<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>当前任务</title>
<link href="css/basic.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/basic.js"></script>
</head>
<style>
	.mainleft{width:250px; border-right:1px solid #ccc;}
	.mainlefttop{height:450px; border-bottom:1px solid #ccc;}
	.mainleftdown{min-height:600px;}
</style>
<body>
	<div class="wrap">
    	<div class="mainleft left">
        	<div class="mainlefttop">
            	相似问题
            </div>
            <div class="mainleftdown">
            	知识库
            </div>
        </div>
        <div class="mainright left ">
        	<div class="mainDetail">
            <div><span class="spandetail">标题：</span>今日头条</div>
            <div><span class="spandetail">详情：</span>星期一</div>
            <div><span class="spandetail">紧急程度：</span>未解答</div>
            <div><span class="spandetail">问题分类：</span>大问题</div>
            <div><span class="spandetail">时间：</span>2015-09-14</div>
           
            	<div class="taskto">
                    <div class="mart10">
                        <input  type="text"  class="txtvalue marr10"/><input type="button" class="btnorder" value="回复" />
                        <input type="button" class="btnorder" value="取消" />                
                    </div>
                    <div class="mart10">
                        <select>
                            <option>请选择</option>
                        </select>
                        <input type="button" class="btnorder" value="流转" />
                    </div>
            
           		 </div>
            
            
        
            
        </div>
        
        </div>
    	
        
    </div>

</body>
</html>
