<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>流转审核</title>
<link href="css/basic.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/basic.js"></script>
</head>

<body>
	<div class="wrap">
    	<div class="mainDetail">
            <div><span class="spandetail">标题：</span>Bhe工单管理系统</div>
            <div><span class="spandetail">详情：</span>xxxx</div>
            <div><span class="spandetail">时间：</span>2015-09-14</div>
            <div><span class="spandetail">紧急程度：</span>一般</div>
            <div><span class="spandetail">紧急理由：</span>这是刚刚加入的好友</div>
            <div class="btndiv">
                <input type="button" class="btnorder" value="通过" />
                <input type="button" class="btnorder" value="驳回" />
                <input type="button" class="btnorder" value="分配" />
            </div>
        </div>
        
    </div>

</body>
</html>
