<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/basic.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
</head>

<body>
	<div class="wrap">
    	<div class="header">
        	<div class="headertop">
            	<div class="headertopleft left">通用工单系统：张三</div>
                <div class="headertopright right"> <a href="#" class="exita">退出登录</a> </div>
            </div>
        </div>
        <div class="main">
        	<span>            	
               <a href="#" class="mainlista">系统管理员</a>
               <a href="systemManagement.html" class="mainlista">系统管理</a>
               <a href="departmentOfmaintenanceManage.html" class="mainlista">部门维护</a>
            </span>
            <span>
            	 <a href="systemManagement.html" class="mainlista">系统管理</a>
                 <a href="departmentManage.html" class="mainlista">部门管理</a>
            </span>
            <span>
            	 <a href="repairOrderAllcationManage.html" class="mainlista">工单分配</a>
                 <a href="circulationAuditManage.html" class="mainlista">流转审核</a>
                 <a href="peopleManage.html" class="mainlista">人员管理</a>
                 <a href="knowManage.html" class="mainlista">知识库管理</a>
            </span>
            <span>
            	<a href="nowTaskManage.html" class="mainlista">当前任务</a>
                <a href="handledOrderManage.html" class="mainlista">已处理工单</a>
            </span>
        
        </div>
        
    
    </div>

</body>
</html>
