<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人员管理</title>
<link href="css/basic.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/basic.js"></script>
</head>

<body>
	<div class="wrap">
    	<div class="mainDetail">
            <div><span class="spandetail">用户名：</span>张三</div>
            <div><span class="spandetail">密码：</span>xxxx</div>
            <div><span class="spandetail">角色：</span>管理员</div>
            <div><span class="spandetail">性别：</span>女</div>
            <div><span class="spandetail">email：</span>260845811@qq.com</div>
            <div><span class="spandetail">电话：</span>45426872</div>
            <div><span class="spandetail">备注：</span>这是刚刚加入的好友</div>
			<div><span class="spandetail">工号：</span>100010</div>
            <div class="btndiv">
                <input type="button" class="btnorder" value="禁用" />
                <input type="button" class="btnorder" value="启用" />
            </div>
        </div>
        
    </div>

</body>
</html>
