<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>提交工单</title>
<link href="css/basic.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/basic.js"></script>
</head>

<body>
	<div class="wrap">
    
    	<div>
        	<span class="spandetail"><i>*</i>xxx：</span>
            <select>
            	<option>请选择</option>
            </select>
    	</div>
        <div class="left">
        	<span class="spandetail left" style="width:120px;"><i>*</i>选择常见问题：</span>
            <div class="divwid left">
            	<span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
                <span class="spanwid"><input  type="radio"/>服务器无法远程</span>
            </div>
            
    	</div>
        <div class="clear"></div>
        <div class="mar5">
        	<span class="spandetail left"><i>*</i>问题描述：</span>
            <textarea class="txtaradetail" placeholder="问题描述" ></textarea>
           <div> <span class="spandetail left">&nbsp;</span><i>若提交密码或AccessKeys等信息，请通过“机密信息”方式添加，并在问题处理完毕后及时修改。</i></div>
        </div>
        <div class="clear"></div>
        <div class="mar5">
        	<span class="spandetail left"><i>*</i>机密信息：</span>
            <textarea class="txtaradetail" placeholder="请在此处填写实例名、账号、密码等机密信息，提交后，机密信息将做加密处理" ></textarea>            
        </div>
        <div class="mar5">
        	<span class="spandetail left"><i>*</i>手机号：</span>
        	<input type="text" class="txtorder" />
        </div>
        <div class="mar5">
        	<span class="spandetail left" style="width:120px;">接收短信提醒：</span>
            <input  type="radio"/>每日9:00-18:00
            <input  type="radio"/>任何时间
            <input  type="radio"/>从不接收
        </div>
        <div class="clear"></div>
        <div class="mar5">
        	<span class="spandetail left"><i>*</i>邮箱：</span>
        	<input type="text" class="txtorder" />
        </div>
        <div class="clear"></div>
        <div class="mar5">
        	<span class="spandetail left">上传附件：</span>
        	<input type="file"  value="上传附件" class="fileorder"/>
            <div>可上传<i>3个附件</i>每个附件大小不得超过2M.附件支持的格式有："jpg","bmp","png","gif","txt","rar","zip","doc","docx","ini","conf","eml"</div>
        </div>
        
        <div>
        	<span class="spandetail left">&nbsp;</span>
        	<input type="button" class="btnlogin" value="提交" />
        </div>
        
    
    </div>
</body>
</html>
