<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统管理</title>
<link href="css/basic.css" rel="stylesheet" />
<link href="css/index.css" rel="stylesheet" />
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/basic.js"></script>
</head>

<body>
	<div class="wrap">
    	<div class="mainDetail">
            <div><span class="spandetail">系统名称：</span>Bhe工单管理系统</div>
            <div><span class="spandetail">appId：</span>10010</div>
            <div><span class="spandetail">key：</span>5</div>
            <div><span class="spandetail">状态：</span>通过</div>
            <div><span class="spandetail">时间：</span>2015-09-14</div>
            <div><span class="spandetail">备注：</span>这是刚刚加入的好友</div>
            <div class="btndiv">
                <input type="button" class="btnorder" value="停用" />
                <input type="button" class="btnorder" value="启用" />
            </div>
        </div>
        
    </div>

</body>
</html>
